// Letras del Navegador 
.Tip__Nav{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

// Estilo para el H1 del index
.H1__Index{
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    line-height: 86px;
    color: white;
}

// Estilo para el H3 

.H3__Index{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 86px;
}
